<body>
  <header class="flex-container flex-start">
    <h1>Processo Seletivo</h1>  
  </header>
    
    <main>
      <section class="flex-container">
        <button mat-raised-button class="margem-10" (click)="criar()"><mat-icon>add</mat-icon> Novo processo seletivo</button>
      </section>

      <section class="flex-container flex-container-wrap flex-container-start">
        <div *ngFor="let proc of processos" class="flex-container">
          <mat-card class="margem-10 flex-item">
            <mat-card-title>Processo seletivo: {{proc.id}}</mat-card-title>
            <mat-card-subtitle>Início data de inscrição: {{proc.dtInicioInscricao | date:'dd/MM/yyyy' }}</mat-card-subtitle>
            <mat-card-subtitle>Situação: {{proc.situacao}}</mat-card-subtitle>
            <mat-card-actions>
              <button class="margem-5" mat-raised-button (click)="visualizar(proc)"><mat-icon>zoom_in</mat-icon></button>
              <button *ngIf="proc.situacao !== 'CANCELADO'" class="margem-5" mat-raised-button (click)="editar(proc)"><mat-icon class="margem-5">create</mat-icon></button>
              <!-- <button *ngIf="proc.situacao !== 'CANCELADO'" class="margem-5" mat-raised-button (click)="deletar(proc)"><mat-icon class="margem-5">delete</mat-icon></button> -->
              <button *ngIf="proc.situacao !== 'CANCELADO'" class="margem-5" mat-raised-button (click)="cancelar(proc)"><mat-icon class="margem-5">cancel</mat-icon></button> 
              <button *ngIf="proc.situacao !== 'CANCELADO'" class="margem-5" mat-raised-button (click)="selecionarCandidato(proc)"><mat-icon class="margem-5">grading</mat-icon></button> 
            </mat-card-actions>
          </mat-card>
        </div>
      </section>
    </main>

  <footer class="flex-container flex-container-end margem-10">
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </footer>

</body>