.flex-header {
    display: flex;    
}

.wrap {
    flex-wrap: wrap;
}

.margem-d-10 {
    margin-right: 10px;
}

.sb {
    justify-content: space-between;
}

header button {
    margin-bottom: 10px;
}

table {
    width: 100%;
}