<body>    
    <header class="flex wrap sb">
      <h1>Encaminhamento de professores</h1>
      <div>
          <button class="margem-d-10" [disabled]="!selecionados.hasValue()" mat-raised-button (click)="encaminharProfessores()">Encaminhar professores<mat-icon>school</mat-icon></button>
          <button mat-raised-button type="button" (click)="carregarRelatorio()"><mat-icon>import_export</mat-icon>Exportar PDF</button>
      </div>
    </header>

      
    <main>
        <mat-table [dataSource]="dados" class="mat-elevation-z8">                
            <ng-container matColumnDef="selecao">
                <mat-header-cell *matHeaderCellDef>Seleção</mat-header-cell>

                <mat-cell *matCellDef="let row" data-label="Seleção">                    
                    <div *ngIf="!row.encaminhado">
                        <mat-checkbox   
                                        [disabled]="!row.escolaIdEncaminhamento"
                                        (click)="$event.stopPropagation()"
                                        (change)="$event ? selecionados.toggle(row) : null"
                                        [checked]="selecionados.isSelected(row)">
                        </mat-checkbox>
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                <mat-cell *matCellDef="let prf" data-label="Nome">{{prf.nomeCompleto}}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="cpf">
                <mat-header-cell *matHeaderCellDef> CPF </mat-header-cell>
                <mat-cell *matCellDef="let prf" data-label="CPF"> {{prf.cpf}} </mat-cell>
            </ng-container>           

            <ng-container matColumnDef="celular">
                <mat-header-cell *matHeaderCellDef> Celular </mat-header-cell>
                <mat-cell *matCellDef="let prf" data-label="Celular"> {{prf.celular}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let prf" data-label="Email"> {{prf.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="processoId">
                <mat-header-cell *matHeaderCellDef> Processo seletivo </mat-header-cell>
                <mat-cell *matCellDef="let prf" data-label="Processo seletivo"> {{prf.processoSeletivoId}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="encaminhado">
                <mat-header-cell *matHeaderCellDef> Encaminhando </mat-header-cell>
                <mat-cell *matCellDef="let prf" data-label="Encaminhando">
                    <ng-template [ngIf]="prf.encaminhado" [ngIfElse]="nao">
                        Sim
                     </ng-template>
                     
                     <ng-template #nao>
                        Não
                     </ng-template>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="escolas">
                <mat-header-cell *matHeaderCellDef> Encaminhar para escola </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="Encaminhar para escola">
                    <div *ngIf="!row.encaminhado">
                        <mat-form-field appearance="standard">                       
                            <mat-select (selectionChange)="setarEscola(row, $event)">
                                <mat-option [value]=""></mat-option>
                                <mat-option *ngFor="let e of escolas" [value]="e.id">{{e.nome}}</mat-option>
                            </mat-select>                                     
                        </mat-form-field>
                    </div>                 
                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="escolaId">
                <mat-header-cell *matHeaderCellDef> Num. escola </mat-header-cell>
                <mat-cell *matCellDef="let prf" data-label="Num. escola"> {{prf.escolaIdEncaminhamento}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="escolaEncaminhamento">
                <mat-header-cell *matHeaderCellDef> Escola </mat-header-cell>
                <mat-cell *matCellDef="let prf" data-label="Escola"> {{prf.escolaEncaminhamento}} </mat-cell>
            </ng-container>            
            
            <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>            
            <mat-row *matRowDef="let row; columns: colunas;"></mat-row>
        </mat-table>
    </main>
</body>
