<body>    
    <header class="flex-header flex-container-wrap flex-container-sb">
      <h1>Seleção de candidatos</h1>      
      <button class="header-item" [disabled]="!selecionados.hasValue()" mat-raised-button (click)="efetivarSelecionadosEmProfessores()">Efetivar inscritos<mat-icon>done</mat-icon></button>
    </header>

      
    <main>
        <mat-table [dataSource]="dados" class="mat-elevation-z8">                
            <ng-container matColumnDef="selecao">
                <mat-header-cell mat-header-cell *matHeaderCellDef data-label="Selecionar todos">
                <mat-checkbox (change)="$event ? toggleGeral() : null"
                                [checked]="selecionados.hasValue() && todosSelecionados()"
                                [indeterminate]="selecionados.hasValue() && !todosSelecionados()">
                </mat-checkbox>
                </mat-header-cell>

                <mat-cell mat-cell *matCellDef="let row" data-label="Selecionar">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selecionados.toggle(row) : null"
                                    [checked]="selecionados.isSelected(row)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>              
            
            <ng-container matColumnDef="nome">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let insc" data-label="Nome"> {{insc.nomeCompleto}} </mat-cell>
            </ng-container>              
            
            <ng-container matColumnDef="cpf">
                <mat-header-cell mat-header-cell *matHeaderCellDef> CPF </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let insc" data-label="CPF"> {{insc.cpf}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="processoId">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Processo seletivo </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let insc" data-label="Processo seletivo"> {{insc.processoSeletivoId}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="celular">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Celular </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let insc" data-label="Celular"> {{insc.celular}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let insc" data-label="Email"> {{insc.email}} </mat-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: colunas;"
                (click)="selecionados.toggle(row)">
            </mat-row>
        </mat-table>
    </main>
</body>