<body>    
    <header class="flex-header flex-container-sb">
      <h1>Seleção de candidatos</h1>      
      <button class="header-item" [disabled]="!selecionados.hasValue()" mat-raised-button (click)="efetivarSelecionadosEmProfessores()">Efetivar inscritos<mat-icon>done</mat-icon></button>
    </header>

      
    <main>
        <table mat-table [dataSource]="dados" class="mat-elevation-z8">                
            <ng-container matColumnDef="selecao">
                <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleGeral() : null"
                                [checked]="selecionados.hasValue() && todosSelecionados()"
                                [indeterminate]="selecionados.hasValue() && !todosSelecionados()">
                </mat-checkbox>
                </th>

                <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selecionados.toggle(row) : null"
                                [checked]="selecionados.isSelected(row)">
                </mat-checkbox>
                </td>
            </ng-container>              
            
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let insc"> {{insc.nomeCompleto}} </td>
            </ng-container>              
            
            <ng-container matColumnDef="cpf">
                <th mat-header-cell *matHeaderCellDef> CPF </th>
                <td mat-cell *matCellDef="let insc"> {{insc.cpf}} </td>
            </ng-container>

            <ng-container matColumnDef="processoId">
                <th mat-header-cell *matHeaderCellDef> Processo seletivo </th>
                <td mat-cell *matCellDef="let insc"> {{insc.processoSeletivoId}} </td>
            </ng-container>

            <ng-container matColumnDef="celular">
                <th mat-header-cell *matHeaderCellDef> Celular </th>
                <td mat-cell *matCellDef="let insc"> {{insc.celular}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let insc"> {{insc.email}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="colunas"></tr>
            <tr mat-row *matRowDef="let row; columns: colunas;"
                (click)="selecionados.toggle(row)">
            </tr>
        </table>
    </main>
</body>