<body>
    <header class="flex sb">
        <h1>Relatórios gráficos</h1>        
    </header>
      
    <main>        
        <section class="flex wrap">            
            <mat-card class="flex-item">
                <mat-card-content>
                    <app-grafico-demanda></app-grafico-demanda>
                </mat-card-content>
            </mat-card>

            <mat-card class="flex-item">
                <mat-card-content>
                    <app-grafico-inscritos-processo></app-grafico-inscritos-processo>
                </mat-card-content>
            </mat-card>

            <mat-card class="flex-item">
                <mat-card-content>
                    <app-grafico-efetivados></app-grafico-efetivados>
                </mat-card-content>
            </mat-card>

            <mat-card class="flex-item">
                <mat-card-content>
                    <app-grafico-efetivados-encaminhados></app-grafico-efetivados-encaminhados>
                </mat-card-content>
            </mat-card>

            <mat-card class="flex-item">
                <mat-card-content>
                    <app-grafico-demanda-disciplina></app-grafico-demanda-disciplina>
                </mat-card-content>
            </mat-card>
        </section>
    </main>
  </body>