<body>
    <header class="flex sb">
        <h1>Relatórios gráficos</h1>
        <button mat-raised-button>Salvar<mat-icon>picture_as_pdf</mat-icon></button>      
    </header>
      
    <main>        
        <section class="flex wrap">            
            <mat-card class="flex wrap">                                          
                <mat-card-content>
                    <app-grafico-demanda></app-grafico-demanda>
                </mat-card-content>
            </mat-card>
        </section>
    </main>
  </body>