<div class="container" [class.eh-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar-pos">
      <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
      </button>
    <h1 class="app-name-pos">Edukare - Secretaria</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      
      <mat-nav-list>            
          <a class="menu" mat-list-item routerLink="{{item.link}}" *ngFor="let item of menu">
              <span class="title">{{item.titulo}}</span>
          </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>