.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.sb {
    justify-content: space-between;
}

@media screen and (max-width: 960px) {
    .mat-table {
        border: 0;
        vertical-align: middle;
    }

    .mat-table caption {
        font-size: 1em;
    }

    .mat-table .mat-row {
        border-bottom: 10px solid #ddd;
        display: block;
    }

    .mat-header-row {
        display: none;
    }

    .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
        font-weight: bold;
        height: 30px;
        padding: 4%;
    }

    .mat-table .mat-cell:before {   
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 0.85em;           
    }

    .mat-table .mat-cell:last-child {
        border-bottom: -100px;
    }

    .mat-table .mat-cell:first-child {
        margin-top: 4%;
    }

    .mat-row::after, mat-header-row::after, mat-footer-row::after {
        display: none;
    }
}