// Remove flechas quando tipo input é numero
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.flex-container {
    display: flex;    
}

.flex-container-sb {
    justify-content: space-between;
}

.input-s {
    width: 50px;
}