<body>
    <header class="flex-container flex-container-wrap flex-container-sb">
        <h1>Minhas inscrições</h1>
        <button mat-raised-button (click)="exportarDadosInscricoes()"><mat-icon>import_export</mat-icon>PDF</button>
    </header>
    <main>
        <section class="flex-container flex-container-wrap">
            <mat-card class="margem-10" *ngFor="let insc of inscricoes" >
                <mat-card-header>
                    <mat-card-title>Número de inscrição: {{insc.id}}</mat-card-title>                    
                    <mat-card-subtitle>Situação: {{insc.situacao}}</mat-card-subtitle>                    
                </mat-card-header>                
                
                <mat-card-actions class="flex-container">
                    <button mat-raised-button (click)=visualizar(insc) class="grow"><mat-icon>zoom_in</mat-icon></button>
                    <button mat-raised-button *ngIf="insc.situacao !=='CANCELADA'" (click)="cancelar(insc)" class="grow"><mat-icon>cancel</mat-icon></button>                    
                </mat-card-actions>
            </mat-card>
        </section>
        
    </main>
    <footer></footer>
</body>
