.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.center {
    margin: auto;
}

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV
@media screen and (min-device-width: 320px) and (max-device-width: 480px) { 
    .container-size {
        width: 100%;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
    .container-size {
        width: 60%;
    }
}


@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .container-size {
        width: 45%;
    }
}

@media screen and (min-device-width: 1201px) {
    .container-size {
        width: 25%;
    }
}

.margem-10-d {
    margin-right: 10px;
}

.margem-10-b {
    margin-bottom: 10px;
}

.margem-20 {
    margin: 20px;
}

.margem-10-t {
    margin-top: 10px;
}