<body>
    <header><h1>Cancelamento de processo seletivo</h1></header>
    <main>
        <h4>Para confirmar digite o número do processo seletivo: <b>{{processo?.id}}</b></h4>
        <mat-form-field class="input-s">
            <mat-label>Número</mat-label>
            <input matInput type="number" [formControl]="numeroProcesso"/>
        </mat-form-field>
    </main>
    <footer class="flex-container flex-container-sb">
        <button mat-raised-button (click)="cancelar(false)">Não</button>
        <button [disabled]="processo.id !== numeroProcesso.value" mat-raised-button (click)="cancelar(true)">Sim</button>
    </footer>
</body>